:root {
  --background-color: #546fd2;
  --border-color: #1a1b1b;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* weather */

.weather-app {
  margin: 100px auto;
  padding: 30px;
  width: 390px;
  height: 844px;
  border: 30px solid var(--border-color);
  border-radius: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: var(--background-color);
  position: relative;
}
.top {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.time {
  font-size: 1.5em;
  padding-left: 20px;
}
.lens {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -30%;
  width: 270px;
  background: var(--border-color);
  color: black;
  height: 100%;
  border-radius: 20px 20px 40px 40px;
}
.battery-icon {
  padding-right: 5px;
}
.battery-icon .fas {
  padding-right: 10px;
  font-size: 1.3em;
}
.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.search-bar label {
  width: 100%;
}
#search {
  margin-top: 30px;
  padding: 10px;
  width: 90%;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #fff;
}
.search-bar a {
  display: inline-block;
  border: 3px solid #ccc;
  padding: 5px 10px 0;
  border-radius: 50%;
  background: #ccc;
}
.fa-map-marker-alt {
  color: #777;
}
.fa-map-marker-alt:hover {
  color: rgb(89, 89, 238);
}

.location {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  text-transform: capitalize;
  letter-spacing: 3px;
  color: rgb(46, 43, 43);
}

.status {
  text-align: center;
  font-size: 25px;
  color: rgb(97, 90, 90);
}
.temperature {
  font-size: 70px;
  text-align: center;
  color: #1a1b1b;
}

.status-icon {
  text-align: center;
  width: 100%;
  border-radius: 10%;
}

.container-temp {
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 10px;
  height: 250px;
}
.container-temp li {
  margin-top: 15px;
  list-style: none;
  font-size: 20px;
  color: white;
}

/* radio */
.radio-btn {
  padding: 0;
  list-style: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.radio-btn li {
  padding: 10px;
  border: 3px solid rgb(194, 194, 194);
}

.c-option {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.f-option {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
